SERVER_PORT=3000

# Uncomment the line below and set the path to your browser executable if needed
# BROWSER_PATH=/home/container/chrome-linux/chrome

# Uncomment the line below and set the libs path if needed
# LD_LIBRARY_PATH=/home/container/lib